html
  head
    title Painting Gallery
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css')
  body
    .container
      .jumbotron
        h1 Painting Gallery
        p Enjoy a selection of beautiful paintings!
      .row
        .col-sm-3
          .thumbnail
            img(src='https://uploads7.wikiart.org/images/vincent-van-gogh/starry-night-1889.jpg' alt='Starry Night by Van Gogh')
            .caption
              h4 Starry Night
              p Vincent van Gogh
        .col-sm-3
          .thumbnail
            img(src='https://uploads8.wikiart.org/images/leonardo-da-vinci/mona-lisa.jpg' alt='Mona Lisa by Leonardo da Vinci')
            .caption
              h4 Mona Lisa
              p Leonardo da Vinci
        .col-sm-3
          .thumbnail
            img(src='https://uploads0.wikiart.org/images/claude-monet/water-lilies-1916.jpg' alt='Water Lilies by Monet')
            .caption
              h4 Water Lilies
              p Claude Monet
        .col-sm-3
          .thumbnail
            img(src='https://uploads2.wikiart.org/images/edvard-munch/the-scream-1893.jpg' alt='The Scream by Edvard Munch')
            .caption
              h4 The Scream
              p Edvard Munch